<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freitext-Frage Beantworten</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Freitext-Frage Beantworten</h1>

    <div class="card">
        <div class="card-body">
            <!-- Question Text -->
            <h4 class="card-title">Frage:</h4>
            <p class="card-text" th:text="${question.getQuestionText()}">Hier steht die Frage</p>

            <!-- Max Score -->
            <h5>Maximale Punktzahl: <span th:text="${question.getMaxScore()}">10</span></h5>

            <!-- Answer Form -->
            <form th:action="@{/student/test/{id}/edit/FreeTextQuestion/{id_question}/submit(id=${test_id}, id_question=${question_id})}"
                  method="post">
                <div class="form-group">
                    <label for="answer">Antwort:</label>
                    <textarea class="form-control" id="answer" name="answer" rows="4" required th:text="${answer}"></textarea>
                </div>

                <!--Buttons-->
                <div class="d-flex justify-content-between mt-3">
                    <a href="#" th:href="@{/student/test/{id}/edit/(id=${test_id})}"
                       class="btn btn-secondary">Abbrechen</a>
                    <button type="submit" class="btn btn-primary">Antwort absenden</button>
                </div>

            </form>


        </div>
    </div>
</div>

</body>
</html>
