<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${test.title}">Title</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <!-- Success Message Box -->
    <div class="alert alert-success" th:if="${savedQuestion != null}" role="alert">
        <strong>Erfolgreich Antwort zu <span th:text="${savedQuestion.getQuestionText()}"></span> hinzugefügt</strong>
    </div>

    <h1 class="text-center mb-4" th:text="${test.title}">Title</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Frage</th>
                <th>Test Typ</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, iterStat : ${test.getAllQuestions()}">
                <td th:text="${iterStat.index + 1}">1</td>
                <td th:text="${question.getQuestionText()}">Fragetext</td>
                <td th:text="${question.getType()}">FrageTyp</td>
                <td>
                    <a th:if="${question.getType() eq 'FreeTextQuestion'}"
                       th:href="@{/student/test/{id}/edit/FreeTextQuestion/{id_question}(id_question=${question.getId()}, id=${test.getId()})}"
                       class="btn btn-outline-primary btn-sm">Bearbeiten</a>

                    <a th:if="${question.getType() eq 'MultipleChoiceQuestion'}"
                       th:href="@{/student/test/{id}/edit/MultipleChoiceQuestion/{id_question}(id_question=${question.getId()}, id=${test.getId()})}"
                       class="btn btn-outline-primary btn-sm">Bearbeiten</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <a href="/" class="btn btn-secondary">Zurück</a>
    </div>
</div>

</body>
</html>
