<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Multiple-Choice-Test</title>

    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<h1>Adding Multiple-Choice Test</h1>

<form action="#" th:action="@{/tests/addMCTest}" method="post" th:object="${testForm}">
    <div class="mb-3">
        <label for="aufgabenstellung">Aufgabenstellung:</label>
        <input type="text" name="aufgabenstellung" id="aufgabenstellung" placeholder="Aufgabenstellung"
               th:field="*{aufgabenstellung}">
        <small class="text-danger" th:if="${#fields.hasErrors('aufgabenstellung')}"
               th:errors="*{aufgabenstellung}"></small>
    </div>

    <div class="mb-3">
        <label for="antworten">Antworten:</label>
        <input type="text" name="antworten" id="antworten" placeholder="Antworten mit Leerzeichen getrennt"
               th:field="*{antworten}">
        <small class="text-danger" th:if="${#fields.hasErrors('antworten')}" th:errors="*{antworten}"></small>
    </div>

    <div class="mb-3">
        <label for="punktzahl">Punktzahl:</label>
        <input type="number" name="punktzahl" id="punktzahl" placeholder="Punktzahl" th:field="*{punktzahl}">
        <small class="text-danger" th:if="${#fields.hasErrors('punktzahl')}" th:errors="*{punktzahl}"></small>
    </div>

    <div class="mb-3">
        <label for="loesung">Lösung:</label>
        <input type="text" name="loesung" id="loesung" placeholder="Loesung mit Leerzeichen getrennt" th:field="*{loesung}">
        <small class="text-danger" th:if="${#fields.hasErrors('loesung')}" th:errors="*{loesung}"></small>
    </div>

    <div class="mb-3">
        <label for="erklaerung">Erklärung:</label>
        <input type="text" name="erklaerung" id="erklaerung" placeholder="Erklärung" th:field="*{erklaerung}">
        <small class="text-danger" th:if="${#fields.hasErrors('erklaerung')}" th:errors="*{erklaerung}"></small>
    </div>

    <div class="mb-3">
        <label for="bearbeitungsBeginn">Bearbeitungsbeginn:</label>
        <input type="datetime-local" name="bearbeitungsBeginn" id="bearbeitungsBeginn" th:field="*{bearbeitungsBeginn}">
        <small class="text-danger" th:if="${#fields.hasErrors('bearbeitungsBeginn')}" th:errors="*{bearbeitungsBeginn}"></small>
    </div>

    <div class="mb-3">
        <label for="abgabeZeitpunkt">Abgabezeitpunkt:</label>
        <input type="datetime-local" name="abgabeZeitpunkt" id="abgabeZeitpunkt" th:field="*{abgabeZeitpunkt}">
        <small class="text-danger" th:if="${#fields.hasErrors('abgabeZeitpunkt')}" th:errors="*{abgabeZeitpunkt}"></small>
    </div>

    <div class="mb-3">
        <label for="veroeffentlichungsZeitpunkt">Veröffentlichungszeitpunkt:</label>
        <input type="datetime-local" name="veroeffentlichungsZeitpunkt" id="veroeffentlichungsZeitpunkt"
               th:field="*{veroeffentlichungsZeitpunkt}">
        <small class="text-danger" th:if="${#fields.hasErrors('veroeffentlichungsZeitpunkt')}"></small>
    </div>

    <button type="submit">Add Test</button>
</form>

</body>
</html>