<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>

    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<!-- this whole html is only for testing -->

<h1 class="text-center mt-4">Tests</h1>

<div th:each="test : ${mcTests}" class="mb-3">
    <span th:text="${test}"> Test 1</span>
</div>

<a class="btn btn-primary btn-lg" href="/tests/addMCTest" role="button">Weitere MC-Tests hinzufugen</a>

</body>
</html>