<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

    <div class="container mt-5 align-self-center">
        <h1 class="text-center">Tests</h1>
    </div>

    <div class="container mt-5">
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th>Titel</th>
                    <th>GitHub Handle</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="test, iterStat : ${tests}">
                    <td th:text="${iterStat.index + 1}">1</td>
                    <td th:text="${test.title}">Test Titel</td>
                    <td th:text="${test.getWorkedOnBy()}">-</td>
                    <td>
                        <a href="#" th:href="@{/corrector/tests/{id}(id=${test.id})}"
                            class="btn btn-primary">Test korrigieren</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<
