<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aufgaben</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<h1 class="text-center mt-4">Aufgaben</h1>

<div class="container mt-5">
    <div class="list-group">
        <div th:each="aufgabe : ${aufgaben}" class="mb-2">
            <a th:text="${aufgabe.getName()}" th:href="@{aufgabe/{id}(id=${aufgabe.getID()})}" class="list-group-item list-group-item-action">Link</a>
        </div>
    </div>
</div>
</body>
</html>