<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">ExamByte</h1>
        <p class="lead">Welcome to the home page</p>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary btn-lg mr-2" href="/login" role="button">Login</a>
            <a class="btn btn-secondary btn-lg" href="/register" role="button">Register</a>
        </div>
    </div>
</div>
</body>
</html>