<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">ExamByte</h1>
        <p class="lead">Willkommen <span th:text="${githubHandle}"></span></p>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
        </div>
    </div>
    <br>

    <!-- th:if="${#authorization.expression('hasAuthority(''ROLE_ORGANIZER'')')}" -->
    <div  class="container-fluid row-cols-1">
        <a class="btn btn-success btn-lg" href="#" th:href="@{/organizer/tests}" role="button">Tests Erstellen (Organizer only)</a>
    </div>

    <!-- th:if="${#authorization.expression('hasAuthority(''ROLE_STUDENT'')')}" -->
    <div  class="container-fluid row-cols-1">
        <a class="btn btn-success btn-lg" href="#" th:href="@{/student/tests}" role="button">Tests Anzeigen (Student only)</a>
    </div>
</div>
</body>
</html>