<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests</title>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Test Übersicht</h1>
    <div class="d-flex justify-content-end mb-4">
        <a href="/organizer/tests/new" class="btn btn-primary">Neuen Test erstellen</a>
    </div>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Titel</th>
            <th>Startzeit</th>
            <th>Endzeit</th>
            <th>Ergebniszeit</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="test, iterStat : ${tests}">
            <td th:text="${iterStat.index + 1}">1</td>
            <td th:text="${test.title}">Test Titel</td>
            <td th:text="${#temporals.format(test.startTime, 'dd.MM.yyyy HH:mm')}">Startzeit</td>
            <td th:text="${#temporals.format(test.endTime, 'dd.MM.yyyy HH:mm')}">Endzeit</td>
            <td th:text="${#temporals.format(test.resultTime, 'dd.MM.yyyy HH:mm')}">Ergebniszeit</td>
            <td>
                <a th:href="@{/organizer/tests/{id}/questions(id=${test.id})}" class="btn btn-info btn-sm">Fragen anzeigen</a>
                <a th:href="@{/organizer/tests/{id}/mc-question(id=${test.id})}" class="btn btn-success btn-sm">MC hinzufügen</a>
                <a th:href="@{/organizer/tests/{id}/ft-question(id=${test.id})}" class="btn btn-warning btn-sm">Freitext hinzufügen</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
